@theme {
    /* Colors */
    --color-primary-50: #ebfeff;
    --color-primary-100: #cdf9ff;
    --color-primary-200: #a1f0ff;
    --color-primary-300: #60e4ff;
    --color-primary-400: #36d3f9;
    --color-primary-500: #00afde;
    --color-primary-600: #008aba;
    --color-primary-700: #086f96;
    --color-primary-800: #10597a;
    --color-primary-900: #124b67;
    --color-primary-950: #053047;

    --color-secondary-50: #eff5f5;
    --color-secondary-100: #bff8f2;
    --color-secondary-200: #95f3e9;
    --color-secondary-300: #6cefe0;
    --color-secondary-400: #43ead8;
    --color-secondary-500: #19e6cf;
    --color-secondary-600: #15bcaa;
    --color-secondary-700: #109385;
    --color-secondary-800: #0c6a5f;
    --color-secondary-900: #07403a;
    --color-secondary-950: #031715;
}
